body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    position: absolute;
    background-color: #2D25A0;
}

/*---------------
  HEADER SECTION 
  ---------------*/

.upper{
    display: flex;
}
.text{
   font-size: 25px;
   padding-left: 200px;
   padding-top: 190px;
   line-height: 70px;
}
.picture img{
    width: 556.01px;
    height: 438px;
    padding-left: 55px;
    padding-top: 160px;
    padding-bottom: 86px;
}

.text h1{
    color: white;
}

.text a{
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 15px;
    letter-spacing: 3px;
    background-color: #E02C6D;
    padding: 10px 20px;
}

/*-------------
  MAIN SECTION 
 --------------*/

.container{
    background-color: white;
    padding-top: 40px;
    padding-right: 149px;
}

.players{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr;
    grid-gap: 30px;
    margin-top: 80px;
    padding-left: 150px;
    padding-bottom: 165px;
}

.player{
    
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 330px;
    height: 474px;
}

.player .player-pic img{
    margin-top: 15px;
    margin-left: 15px;
    width: 300px;
    height: 256px;
}

.player-info{
    margin-left: 15px;
}

/*--------------
   Extra Section 
  ---------------*/

.extra{
    display: flex;
    background-color: white;
}
.extra-text{
    padding-top: 20px;
    padding-left: 156px;
    padding-right: 66px;
}

.btn{
    margin-top: 30px;
}

.btn a{
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 15px;
    letter-spacing: 3px;
    background-color: #E02C6D;
    padding: 10px 20px;
}
.banner img{
    width: 500px;
    height: 400px;
    padding-right: 156px;
}

.video{
    padding-right: 156px;
    padding-bottom: 158px;
}

/*--------------
  FOOTER SECTION
  -------------- */

footer{
    background-color: white;
}

.logo {
    margin-left: 400px;
}
.logo img {
    width: 500px;
    height: 120px;
}

.social{
    margin-left: 632PX;
}
.social img{
    margin-left: 14PX;
    width: 32px;
    height: 32px;
}

.copyright{
    padding-left: 598px;
    padding-bottom: 10px;
}

/* --------------
   MEDIA QUARIRY 
   -------------- */

@media only screen and (max-width:688px){
    
    .upper{
        display: flex;
        flex-direction: column;
    }
    
    .text{
        font-size: 25px;
        padding-left: 20px;
        padding-top: 112px;
        line-height: 70px;
     }
     .picture img{
         width: 360px;
         height: 280px;
         padding-left: 15px;
         padding-top: 60px;
         padding-bottom: 62px;
     }
}   